
<div class="container">
  <div class="cards">
    <% @dogs.each do |dog| %>
    <%= link_to dog_path(dog) do %>
    <div class="card-trip">
        <img src=" <%=dog.images%>" alt="<%= dog.name %>">
      <div class="card-trip-infos">
        <div>
          <h2> <%= dog.name %> </h2>
          <p> <%= dog.breed %> </p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
