<%= form_tag dogs_path, method: :get do %>
<div class="d-flex pt-4 pb-2 justify-content-center">
  <div>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control search-input-height mt-1", id:"address",
      placeholder: "Find Paw Pals"
    %>
  </div>
  <div>
    <%= submit_tag "Search", class: "ml-4 mt-1 btn btn-pawpals" %>
  </div>
</div>
<% end %>


<div class="container">
  <div class="cards">
    <% @dogs.each do |dog| %>
    <%= link_to dog_path(dog) do %>
    <div class="card-trip">
      <% if dog.photos.any? %>
      <%= cl_image_tag dog.photos.first.key %>
      <% else %>
      <%= image_tag "https://res.cloudinary.com/ds6vgzap2/image/upload/v1623928605/melon_dog_vmg3vk.jpg", alt: "alttext" %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2> <%= dog.name %> </h2>
          <p> <%= dog.breed %> </p>
        </div>
        <div>
          <p><%= dog.age %> Years Old</p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>


