<div class="show-container d-flex justify-content-center">

  <!-- Dog Profile -->
  <div class="col-md-8">
    <div class="dog-profile">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="dog-profile-header"><%= @dog.name %></h1>
        <%= link_to 'Request a meet up', new_dog_booking_path(@dog), class: "btn-pawpals mr-3" if @dog.user != current_user %>
      </div>
      <div class="d-flex justify-content-between mb-4">
        <p class="breed-margin-left"><%= @dog.breed %></p>
        <p class="age-margin-right"><%= @dog.age %> years old</p>


        <%= link_to toggle_favourite_dog_path(@dog), remote: true, method: :post do %>
          <i class="fas fa-heart like-icon <%= 'red' if current_user.favorited?(@dog) %>" data-id="<%= @dog.id %>"></i>
        <% end %>
      </div>

      <div class="d-flex justify-content-between padding-dog-img">
       <% if @dog.photos.any? %>
        <%= cl_image_tag @dog.photos.first.key, class: "mx-auto d-block dog-img" %>
        <% else %>
        <%= image_tag "https://res.cloudinary.com/ds6vgzap2/image/upload/v1623928605/melon_dog_vmg3vk.jpg", alt: "alttext", class: "mx-auto d-block dog-img" %>
        <% end %>
      <!-- Dog Description -->
      <div class="">
        <h2 class="dog-profile-header">More About <%= @dog.name %> </h2>
        <p class="dog-profile-text"><%= @dog.description %></p>
      </div>
      </div>
    </div>

    <div class="dog-profile dog-profile-margin-top">
      <h2>Reviews</h2>
      <% @reviews.each do |review| %>
        <div class="review-card d-flex p-3">
          <%= cl_image_tag review.user.photo.key, class: "review-avatar mr-5" %>
          <div class="review-content">
            <%= review.content %>
            <div class="review-stars mt-3">
              <% 5.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="side-content-container col-md-3 mb-3">
    <div class="side-card ">
      <p class="mb-0 p-2">Location</p>
      <div id="map"
      style="width: 100%; height: 450px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <div class="side-card">
      <p class="mb-0 p-2">Temperament</p>
      <div class="content-card">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <%= image_tag "#{@dog.temperament.downcase}.png", width: 70, height: 70 %>
          <p class="mx-2 mb-0 mt-2"><%= @dog.temperament %></p>
        </div>
      </div>
    </div>

    <div class="side-card">
      <p class="mb-0 p-2">Owner</p>
      <div class="content-card d-flex flex-column align-items-center">
        <%= cl_image_tag @dog.user.photo.key, class: "user-show-avatar" %>
        <h5 class="mt-3"><%= @dog.user.name %></h5>
      </div>
    </div>
  </div>
</div>

  <div class="side-content-container col-md-3"></div>
  <!-- empty side bar -->
</div>












<!-- meta tags needs finishing below, check guide on product page -->

<% content_for :meta_title, "#{@dog.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @dog.description %>
<% content_for :meta_image, "https://res.cloudinary.com/ds6vgzap2/image/upload/v1623160757/photo-1583511655826-05700d52f4d9_af8lks.jpg"%>

<!-- <#% content_for :meta_image, cl_image_path(@dog.images.first.path) %> -->

