<!-- Side Content-->
<div class="container-fluid">
  <div class="row">
    <div class="col-3 border-right">
      <%= render 'shared/sidebar' %>
    </div>

    <!-- Right Side Page -->


    <!-- Requested Meet Ups -->
    <div class="col-9">
      <h2 class="mt-4">My Requested Meet Ups</h2>
      <div class="container pt-3 d-flex justify-content-around">
        <!-- Card -->
        <% @my_dogs_bookings.each do |booking| %>
        <div class="card-trip-booking">
          <%= cl_image_tag booking.their_dog.photos.first.key %>
          <div class="card-trip-infos">
            <p><%= booking.their_dog.name %> and <%= booking.my_dog.name %></p>
            <p><%= booking.date.strftime("%d %B    %H:%M") %></p>
          </div>

          <div class="booking-accepted">
            <% room = Chatroom.where(user: current_user, other_user: booking.their_dog.user).or(Chatroom.where(user: booking.their_dog.user)).first %>
            <% if room %>
              <%= link_to "chat", chatroom_path(room)  %>
            <% else %>
              <%= link_to "chat", chatrooms_path(other_user: booking.their_dog.user), method: :post %>
            <% end %>
            <% if booking.accepted == nil %>
            <p class="invitation-text">Your Invitation is awaiting a response from <%= booking.their_dog.user.name %></p>
          </div>

          <div class="chat-spacing">
          <% room = Chatroom.where(user: current_user, other_user: booking.their_dog.user).or(Chatroom.where(user: booking.their_dog.user)).first %>
          <% if room %>
            <%= link_to "Chat", chatroom_path(room), class: "btn-pawpals-chat" %>
          <% else %>
            <%= link_to "Chat", chatrooms_path(other_user: booking.their_dog.user), class: "btn-booking", method: :post %>
          <% end %>
          </div>

          <!-- buttons -->
          <div class="card-booking-buttons">
            <%= link_to 'Cancel invitation', booking_path(booking), method: :delete, class: "btn-booking" %>
            <% elsif booking.accepted %>
            <p class="invitation-text">Invitation has been accepted</p>
            <%= link_to 'Cancel meet up', booking_path(booking), method: :delete, class: "btn-booking" unless booking.date.past? %>
            <% else %>
            <p class="invitation-text">Invitation Declined</p>
            <%= link_to 'Delete', booking_path(booking), method: :delete, class: "btn-booking" %>
            <% end %>
            <%= link_to 'Write a review', new_dog_review_path(booking.their_dog), class: "btn-booking" if booking.accepted && booking.date.past? && booking.date != nil   %>
          </div>


        </div>
        <% end %>
      </div>


    <!-- Invitations the user has recieved-->
          <h2 class="mt-4">Paw Pal Requests</h2>

          <div class="container pt-3 d-flex justify-content-around mb-3">
            <!-- Card -->
            <% @their_dogs_bookings.each do |booking| %>
            <div class="card-trip-booking">
              <%= cl_image_tag booking.my_dog.photos.first.key %>
              <div class="card-pawpal-req">

                <p>Paw Pal request from <%= booking.my_dog.name %></p>
                <div class="d-flex justify-content-around">
                  <p>For a play date between:</p>
                  <p><%= booking.their_dog.name %> & <%= booking.my_dog.name %></p>
                </div>
                <p> <%= booking.date.strftime("%d %B    %H:%M") %> </p>
              </div>

              <div class="card-booking-buttons">
                <% if booking.their_dog.user == current_user && booking.accepted == nil%>
                <%= link_to "Accept", accept_booking_path(booking), method: :patch %>
                <%= link_to "Decline", reject_booking_path(booking), method: :patch %>
                <% room = Chatroom.where(other_user: current_user, user: booking.my_dog.user).or(Chatroom.where(user: current_user)).first %>
                <% if room %>
                <%= link_to "chat", chatroom_path(room)  %>
                <% else %>
                <%= link_to "chat", chatrooms_path(other_user: booking.my_dog.user), method: :post %>
                <% end %>
                <% elsif booking.accepted %>
                <p>Booking Accepted</p>
                <%= link_to 'Cancel meet up', booking_path(booking), method: :delete, class: "btn-pawpals" unless booking.date.past? %>
                <% else %>
                <p>Booking Declined</p>
                <%= link_to 'Delete', booking_path(booking), method: :delete, class: "btn-pawpals" %>
                <% end %>
                <%= link_to 'Write a review', new_dog_review_path(booking.my_dog), class: "btn-pawpals" if booking.accepted && booking.date.past? && booking.date != nil   %>
              </div>

            </div>



            <div class="card-booking-buttons">
              <% room = Chatroom.where(other_user: current_user, user: booking.my_dog.user).or(Chatroom.where(user: current_user)).first %>
              <% if room %>
                <%= link_to "chat", chatroom_path(room)  %>
              <% else %>
                <%= link_to "chat", chatrooms_path(other_user: booking.my_dog.user), method: :post %>
              <% end %>
            <% if booking.their_dog.user == current_user && booking.accepted == nil%>
            <%= link_to "Accept", accept_booking_path(booking), method: :patch %>
            <%= link_to "Decline", reject_booking_path(booking), method: :patch %>
            <% elsif booking.accepted %>
            <p>Booking Accepted</p>
              <%= link_to 'Cancel meet up', booking_path(booking), method: :delete, class: "btn-pawpals" unless booking.date.past? %>
            <% else %>
            <p>Booking Declined</p>
              <%= link_to 'Delete', booking_path(booking), method: :delete, class: "btn-pawpals" %>
            <% end %>
            <%= link_to 'Write a review', new_dog_review_path(booking.my_dog), class: "btn-pawpals" if booking.accepted && booking.date.past? && booking.date != nil   %>
          </div>

          </div>
          <% end %>
        </div>



<!-- old card -->

  <!--           <h2 class="pt-3">Your Received Invitations</h2>
          <% @their_dogs_bookings.each do |booking| %>
          <p>Invite From <%= booking.my_dog.user.name %></p>
          <p>For a play date between: <%= booking.their_dog.name %> and <%= booking.my_dog.name %></p>
          <p> <%= booking.date.strftime("%d %B    %H:%M") %>  </p>
          <div>
            <% if booking.their_dog.user == current_user && booking.accepted == nil%>
            <%= link_to "Accept", accept_booking_path(booking), method: :patch %>
            <%= link_to "Decline", reject_booking_path(booking), method: :patch %>
            <% elsif booking.accepted %>
            <p>Booking Accepted</p>
              <%= link_to 'Cancel meet up', booking_path(booking), method: :delete, class: "btn-pawpals" unless booking.date.past? %>
            <% else %>
            <p>Booking Declined</p>
              <%= link_to 'Delete', booking_path(booking), method: :delete, class: "btn-pawpals" %>

            <% end %>
          </div>

    </div>
  </div>
</div>
