<div class="container-fluid">
  <div class="row">
    <div class="col-3 border-right">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="col-3">
      <div>
        <h1 class="pt-3">My Requested Invitations</h1>
        <% @my_dogs_bookings.each do |booking| %>
        <div class="container pt-3">
          <div class="card-trip">
            <%= cl_image_tag booking.their_dog.photos.first.key %>
            <div class="card-trip-infos">
              <%= booking.their_dog.name %> and <%= booking.my_dog.name %>
              <div>
                <%= booking.date.strftime("%d %B    %H:%M") %>
                <%= link_to 'View more details', booking_path(booking)  %>
              </div>
            </div>
            <div>
              <% if booking.accepted == nil %>
              <p>Your Invitation is waiting for a response</p>
              <%= link_to 'Cancel invitation', booking_path(booking), method: :delete, class: "btn-pawpals" %>
              <% elsif booking.accepted %>
              <p>Invitation has been accepted</p>
              <%= link_to 'Cancel meet up', booking_path(booking), method: :delete, class: "btn-pawpals" %>
              <% else %>
                <p>Invitation Declined</p>
                <%= link_to 'Delete', booking_path(booking), method: :delete, class: "btn-pawpals" %>
              <% end %>
              </div>
          <% end %>
          </div>
          <h1 class="pt-3">Your Received Invitations</h1>
          <% @their_dogs_bookings.each do |booking| %>
          <p>Invite From <%= booking.my_dog.user.name %></p>
          <p>For a play date between: <%= booking.their_dog.name %> and <%= booking.my_dog.name %></p>
          <p> <%= booking.date.strftime("%d %B    %H:%M") %>  </p>
          <div>
            <% if booking.their_dog.user == current_user && booking.accepted == nil%>
            <%= link_to "Accept", accept_booking_path(booking), method: :patch %>
            <%= link_to "Decline", reject_booking_path(booking), method: :patch %>
            <% elsif booking.accepted %>
            <p>Booking Accepted</p>
            <%= link_to 'Cancel meet up', booking_path(booking), method: :delete, class: "btn-pawpals" %>
            <% else %>
            <p>Booking Declined</p>
            <%= link_to 'Delete', booking_path(booking), method: :delete, class: "btn-pawpals" %>

            <% end %>
          </div>
          <% end %>


        </div>
      </div>
    </div>
  </div>
</div>
</div>
