<!-- Side Content-->
<div class="container-fluid">
  <div class="row">
    <div class="col-3 border-right">
      <%= render 'shared/sidebar' %>
    </div>

    <!-- Right Side Page -->

    <!-- My Bookings -->
    <div class="col-9">
      <div class="user-page-padding">
        <h2 class="mt-4">My Requested Meet Ups</h2>
        <div class="container p-5 d-flex justify-content-between">
        <!-- Card -->
          <% @my_dogs_bookings.each do |booking| %>
            <div class="card-trip-booking">
              <%= cl_image_tag booking.their_dog.photos.first.key %>
              <div class="card-trip-infos">
                <p><%= booking.their_dog.name %> and <%= booking.my_dog.name %></p>
                <p><%= booking.date.strftime("%d %B    %H:%M") %></p>
              </div>

              <div class="booking-accepted" style="height: 60px;">
                <% if booking.accepted == nil %>
                  <p class="invitation-text">Your Invitation is awaiting a response from <%= booking.their_dog.user.name %></p>
                <% elsif booking.accepted %>
                  <p class="invitation-text">Invitation has been accepted</p>
                  <%#= link_to 'Cancel meet up', booking_path(booking), method: :delete, class: "btn-pawpals-booking" unless booking.date.past? %>
                <% else %>
                  <p class="invitation-text">Invitation Declined</p>
                  <%= link_to 'Delete', booking_path(booking), method: :delete, class: "btn-pawpals-booking" %>
                <% end %>
              </div>

          <!-- buttons -->
              <div class="card-booking-buttons">
                <% room = Chatroom.where(user: current_user, other_user: booking.their_dog.user).or(Chatroom.where(user: booking.their_dog.user)).first %>
                <% if room %>
                  <%= link_to "Chat", chatroom_path(room), class: "btn-pawpals-chat-booking"  %>
                <% else %>
                  <%= link_to "Chat", chatrooms_path(other_user: booking.their_dog.user), method: :post, class: "btn-pawpals-chat-booking" %>
                <% end %>
                <% if booking.accepted && booking.date.past? && booking.date != nil %>
                  <%= link_to 'Write a review', new_dog_review_path(booking.their_dog), class: "btn-pawpals-booking"  %>
                <% else %>
                  <button data-id='<%= booking.id %>' id="delete-booking-<%= booking.id %>" class="btn-pawpals-booking-delete sweet-alert-delete border-0">Cancel</button>
                  <%= link_to '', booking_path(booking), method: :delete, style: "display:none",  id: "delete-link-#{booking.id}"   %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

