<div class="container-fluid">
  <div class="row">
    <div class="col-3 border-right">
  <%= render 'shared/sidebar' %>
    </div>

    <!-- page right -->
    <div class="col-9 mt-4">
      <div class="d-flex justify-content-around align-items-center mt-4">
        <div>
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, class: "user-avatar" %>
        <% else %>
          <%= image_tag "https://180dc.org/wp-content/uploads/2017/11/profile-placeholder-768x605.png", alt: "alttext", class: "avatar" %>
        <% end %>
        </div>
        <div>
          <h2> <%= @user.name %> </h2>
          <p> <%= @user.address %> </p>
          <%= button_tag 'Edit', class: "edit-button", data: {id: "1"}%>
        </div>
      </div>
      <%= render "usereditform", user: @user %>
    </div>
  </div>
</div>
