
<div class="container-fluid">
  <div class="row">
    <div class="col-3 border-right">
  <%= render 'shared/sidebar' %>
    </div>
    <div class="col-9">
      <h5 class="p-5 text-center">My Favourites Dogs</h5>

      <div class="container">
        <div class="flex-row">
          <% @favorite_dogs.each do |favourite| %>
            <div class="favourite-card">
              <% if favourite.photos %>
                <%= link_to dog_path(favourite) do %>
                  <%= cl_image_tag favourite.photos.first.key %>
                <% end %>
              <% end %>
              <div>
                  <h2 class="text-center"><%= favourite.name %> </h2>
                  <p class="text-center"><%= favourite.breed %> </p>
                  <p class="text-center"><%= favourite.age %> Years Old </p>
              <p class="text-center"><%= link_to "Remove", favourite_path(favourite), method: :delete, class: 'btn remove-button' %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

