
<div class="container-fluid">
  <div class="row">
    <div class="col-3 border-right">
  <%= render 'shared/sidebar' %>
    </div>
    <div class="col-9">
      <h1>This is the Favourites Page</h1>
      <p> Here you will be able to see your favourited dogs</p>

      <div class="container">
        <div class="cards">
          <% @favorite_dogs.each do |favourite| %>


          <%= link_to dog_path(favourite) do %>
              <%= link_to "destroy", favourite_path(favourite), method: :delete %>
            <div class="card-trip">
              <% if favourite.photos %>
                <%= cl_image_tag favourite.photos.first.key %>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2> <%= favourite.name %> </h2>
                  <p> <%= favourite.breed %> </p>
                </div>
                <div>
                  <p><%= favourite.age %> Years Old </p>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>

