<!DOCTYPE html>
<html>
  <head>
    <title>PawPals - A platform where owners can create profiles for their dogs based on their breed, temperament, and then organise meet ups/playdates/day care</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
